.pages-notes-links {
  width: 1200px;
  max-width: 100%;
  background-color: var(--color-1);
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.pages-notes-links div nav {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pages-notes-links div nav a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.show-links-pages nav a:hover {
  background-color: var(--color-2);
}

.btn-hidden {
  display: none;
}

.btn-show {
  display: none;
}

@media (max-width: 850px) {
  .links-pages a {
    padding: 8px 0;
  }

  .btn-hidden,
  .btn-show {
    font-size: 0.8rem;
    width: 100%;
    background-color: var(--color-1);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60px;
    opacity: 0;
    animation: sliderBottom 0.8s ease forwards;
    transition: 0.5s;
  }

  .btn-hidden:hover,
  .btn-show:hover {
    background-color: var(--color-2);
  }

  .hidden-links-pages {
    opacity: 0;
    animation: sliderTop 0.8s ease forwards;
    display: none;
  }

  .show-links-pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show-links-pages nav {
    background-color: var(--color-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 95px;
    opacity: 0;
    animation: sliderBottom 0.8s ease forwards;
  }
}

@keyframes sliderBottom {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sliderTop {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
