.notes-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notes-container h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.notes {
    padding: 10px;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.note {
    width: 400px;
    height: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: -2px 2px 4px black;
    border-radius: 4px;
    border: 1px solid #fff;
}

.note h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.note-icon {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-icon .icon {
    font-size: 120px;
    margin-right: 10px;
}

.note-text .note-btn {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.note-text .note-btn a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.note-text .note-btn:hover {
    background-color: aqua;
    color: #fff;
}

@media (max-width: 600px) {
    .note {
        height: 300px;
    }

    .note-icon {
        min-width: 140px;
    }

}