.notes-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notes-container h1 {
  font-size: 3rem;
  margin: 10px 0 30px 0;
  text-align: center;
}

.notes {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

.note {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: var(--color-5);
}

.note h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  padding: 0 10px;
}

.note p {
  color: var(--color-3);
  padding: 0 10px 10px 10px;
}

.note-icon {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-icon svg {
  font-size: 120px;
  margin: 10px 0;
}

.note-text p {
  font-size: 0.9rem;
}

.note-text .note-btn {
  width: 100%;
  display: flex;
  font-weight: bold;
  border-top: 1px solid var(--color-7);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.note-text .note-btn a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: var(--color-5);
  color: var(--color-3);
  text-align: center;
  padding: 10px 20px;
  border-radius: 0 0 20px 20px;
  transition: 0.5s;
}

.note-text .note-btn a:hover {
  background-color: var(--color-2);
}

@media (max-width: 890px) {
  .note-icon .icon {
    font-size: 90px;
  }
}

@media (max-width: 600px) {
  .notes-container h1 {
    font-size: 2rem;
  }

  .note-icon .icon {
    font-size: 70px;
  }

  .note {
    width: 45%;
  }

  .note h2 {
    font-size: 1.2rem;
  }

  .note-text p {
    font-size: 0.8rem;
  }
}
