.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduce {
  width: 1200px;
  max-width: 95%;
  padding: 10px;
  border-radius: 10px 10px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 20px;
}

.introduce {
  background-color: var(--color-5);
}

.introduce-content,
.introduce-img {
  flex: 1;
  width: 50%;
  min-width: 400px;
}

.introduce-text {
  padding: 10px;
}

.introduce-text span {
  font-size: 1.8rem;
  margin-left: 5px;
}

.introduce-text h1 {
  background-image: linear-gradient(to right, var(--color-2), var(--color-3));
  background-clip: text;
  font-size: 4.5rem;
  line-height: 70px;
  color: transparent;
  font-weight: 800;
  margin: 10px 0 16px 0;
}

.introduce-text h2 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  max-width: 95%;
}

.introduce-text p {
  margin-top: 10px;
  color: var(--color-3);
  line-height: 150%;
}

.home-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.home-btns a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--color-3);
  font-size: 0.7rem;
  width: 60px;
  padding: 5px;
  border-radius: 15px;
  transition: 0.5s all;
}

.home-btns a:hover {
  background-color: var(--color-2);
}

.home-btns a svg {
  font-size: 2rem;
}

.introduce-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
  animation-delay: 0.1s, 1s;
}

.introduce-img img {
  object-fit: cover;
  /* opacity: 0;
  animation: zoomIn 1s ease forwards, floatImg 4s ease-in-out infinite;
  animation-delay: 0.1s, 1s; */
}

.introduce-img .iconsSkills {
  position: absolute;
  bottom: 70px;
  display: flex;
  gap: 10px;
}

.introduce-img .iconsSkills svg {
  font-size: 2rem;
  color: var(--color-2);
}

@media (max-width: 600px) {
  .introduce {
    margin-top: 70px;
    padding: 5px;
    background-color: transparent;
  }

  .introduce-content {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    margin: 0 0 20px 0;
    background-color: var(--color-5);
    padding: 20px 10px;
    border-radius: 0 0 30px 30px;
  }

  .introduce-text span {
    font-size: 1.3rem;
  }

  .introduce-text h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  .introduce-text h2 {
    font-size: 1.6rem;
  }

  .home-btns a svg {
    font-size: 1.8rem;
  }

  .introduce-img {
    min-width: 320px;
  }

  .introduce-img .iconsSkills {
    bottom: 0px;
  }

  .introduce-img .iconsSkills svg {
    font-size: 1.5rem;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImg {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}
