.project {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project div {
  width: 1200px;
  max-width: 98%;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: var(--color-5);
}

.project h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-content img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.project-content .project-text {
  width: 100%;
}

.project-content .project-text h3 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.project-content .project-text h4 {
  font-size: 1.5rem;
  margin: 10px 0 5px 0;
}

.project-content .project-text p {
  color: #a5a5a5;
}

.project .project-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project .project-btns a {
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  color: var(--color-3);
  background-color: var(--color-1);
}

.project .project-btns a:hover {
  background-color: var(--color-2);
}
/* .project .project-link {
    text-decoration: none;
    width: 90%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    padding: 10px 30px;
    margin-top: 20px;
    transition: 0.5s;
    }

    .project .project-link:hover {
    transform: scale(1.1);
    } */
