:root {
  --color-1: #000000;
  --color-2: #2c005e;
  --color-3: #f0f0f0;
  --color-4: #c0c0c0;
  --color-5: #191b1f;
  --color-6: #0e0556;
  --color-7: #424242;
  --color-8: #8d8d8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-1);
  color: #fff;
}

/* body::-webkit-scrollbar {
  display: none;
} */

a {
  text-decoration: none;
}

img {
  width: 100%;
}
