:root {
  --color-1: #0d142e;
  --color-2: #41008b;
  --color-3: #f0f0f0;
  --color-4: #b8b8b8;
  --color-5: #080d1d;
  --color-6: #0e0556;
  --color-7: #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--color-1);
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
